 .checkbox-wrapper .tgl {
     display: none;
 }

 .checkbox-wrapper .tgl,
 .checkbox-wrapper .tgl:after,
 .checkbox-wrapper .tgl:before,
 .checkbox-wrapper .tgl *,
 .checkbox-wrapper .tgl *:after,
 .checkbox-wrapper .tgl *:before,
 .checkbox-wrapper .tgl+.tgl-btn {
     box-sizing: border-box;
 }

 .checkbox-wrapper .tgl::-moz-selection,
 .checkbox-wrapper .tgl:after::-moz-selection,
 .checkbox-wrapper .tgl:before::-moz-selection,
 .checkbox-wrapper .tgl *::-moz-selection,
 .checkbox-wrapper .tgl *:after::-moz-selection,
 .checkbox-wrapper .tgl *:before::-moz-selection,
 .checkbox-wrapper .tgl+.tgl-btn::-moz-selection,
 .checkbox-wrapper .tgl::selection,
 .checkbox-wrapper .tgl:after::selection,
 .checkbox-wrapper .tgl:before::selection,
 .checkbox-wrapper .tgl *::selection,
 .checkbox-wrapper .tgl *:after::selection,
 .checkbox-wrapper .tgl *:before::selection,
 .checkbox-wrapper .tgl+.tgl-btn::selection {
     background: none;
 }

 .checkbox-wrapper .tgl+.tgl-btn {
     outline: 0;
     display: block;
     width: 4em;
     height: 2em;
     position: relative;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 .checkbox-wrapper .tgl+.tgl-btn:after,
 .checkbox-wrapper .tgl+.tgl-btn:before {
     position: relative;
     display: block;
     content: "";
     width: 50%;
     height: 100%;
 }

 .checkbox-wrapper .tgl+.tgl-btn:after {
     left: 0;
 }

 .checkbox-wrapper .tgl+.tgl-btn:before {
     display: none;
 }

 .checkbox-wrapper .tgl:checked+.tgl-btn:after {
     left: 50%;
 }

 .checkbox-wrapper .tgl-light+.tgl-btn {
     background: #f0f0f0;
     border-radius: 2em;
     padding: 2px;
     transition: all 0.4s ease;
 }

 .checkbox-wrapper .tgl-light+.tgl-btn:after {
     border-radius: 50%;
     background: #fff;
     transition: all 0.2s ease;
 }

 .checkbox-wrapper .tgl-light:checked+.tgl-btn {
     background: #9FD6AE;
 }